[submodule ".demo_project/c4"]
	path = .demo_project/c4
	url = https://github.com/rswier/c4.git
[submodule ".demo_project/pascompiler"]
	path = .demo_project/pascompiler
	url = https://github.com/emilytrabert/pascompiler.git
[submodule ".demo_project/pascal.py"]
	path = .demo_project/pascal.py
	url = https://github.com/brianwu02/pascal.py.git
[submodule ".demo_project/calculator"]
	path = .demo_project/calculator
	url = http://10.69.12.175:30080/compiler2020/calculator.git
[submodule ".demo_project/ply"]
	path = .demo_project/ply
	url = https://github.com/dabeaz/ply.git
[submodule ".demo_project/pascal-in-python"]
	path = .demo_project/pascal-in-python
	url = https://github.com/alcides/pascal-in-python.git
