[submodule ".demo_project/c4"]
	path = .demo_project/c4
	url = https://github.com/rswier/c4.git
[submodule ".demo_project/pascompiler"]
	path = .demo_project/pascompiler
	url = https://github.com/emilytrabert/pascompiler.git
[submodule ".demo_project/pascal.py"]
	path = .demo_project/pascal.py
	url = https://github.com/brianwu02/pascal.py.git
